{%  extends 'base.html' %}

{% block title %} Add {% endblock %}



{% block content %}

<div class="row main-row">
    {% include 'includes/sidebar.html' %}
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="download">
                    <h4>Register New Member</h4>
                </div>
            </div>
        </div>
        <main>
            <form action="">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="">First Name</label>
                        <input type="text" placeholder="Enter your first Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="col-lg-4">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Enter your last Name">
                    </div>
                    <div class="col-lg-4">
                        <button type="submit">REGISTER</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>

{% endblock %}