{%  extends 'base.html' %}

{% block title %} Admin {% endblock %}



{% block content %}

<div class="row main-row">
    {% include 'includes/sidebar.html' %}
    <div class="col-lg-9">
        <main>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/categories/bio">
                        <div class="elements" style="background-image: url(../static/images/svg.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Bio Details</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Opening balance scb @1.07.2010">
                        <div class="elements" style="background-image: url(../static/images/red.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Opening balance scb @1.07.2010</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Contributions remitted Year 2010-11">
                        <div class="elements"style="background-image: url(../static/images/green.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Contributions remitted Year 2010/11</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/interest on opening balance scb 2010-11">
                        <div class="elements" style="background-image: url(../static/images/svg2.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5 style="color: #fff;">interest on opening balance scb 2010/11</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Interest on Contributions Year 2010-11">
                        <div class="elements" style="background-image: url(../static/images/svg3.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5 style="color: #fff;">Interest on Contributions Year 2010/11</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/unremitted contributions"style="color: blue;">
                        <div class="elements" style="background-image: url(../static/images/svg4.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>unremitted contributions</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Interest on unremitted contributions" style="color: blue;">
                        <div class="elements" style="background-image: url(../static/images/svg5.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Interest on unremitted contributions</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/INHRBS">
                        <div class="elements" style="background-image: url(../static/images/svg6.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>INHRBS</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Interest due to INHRBS">
                        <div class="elements" style="background-image: url(../static/images/svg2.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5 style="color: #fff;">Interests due to INHRBS</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/NIC Funds @1.2.2011">
                        <div class="elements" style="background-image: url(../static/images/svg3.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5 style="color: #fff;">NIC Funds @1.2.2011</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/categories/Interest due to NIC opening balance"style="color: blue;">
                        <div class="elements" style="background-image: url(../static/images/svg4.jpeg);background-repeat: no-repeat;background-size: cover;">
                            <div class="bg-logo">
                                <img src="../static/images/scheme.jpg" alt="">
                            </div>
                            <div class="text">
                                <h5>Interests due to Nic opening balance</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}